In [131]:
# reading the IRIS.csv data into survival using pandas
import pandas as pd
survival = pd.read_csv("train.csv")
survival.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [132]:
# extracting target dataset and feature dataset.

age_mean = int(survival.Age.mean())
survival['Age'].fillna(age_mean, inplace=True)
# print(survival.Age.unique())
survival.Sex = survival.Sex.replace(to_replace=['male', 'female'], value=[0,1])
survival.Embarked = survival.Embarked.replace(to_replace=['S', 'C', 'Q'], value=[0,1,2])
y = survival.Survived
X = survival[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]

In [140]:
# KNN
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

# data preprocessing.
sc = StandardScaler()
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.80, test_size = 0.20, random_state = 4)
X_train = sc.fit(X_train).transform(X_train)
X_test = sc.fit(X_test).transform(X_test)

# knn model building, training and predicting.
knn_model = knn(n_neighbors=3)
knn_model.fit(X_train, y_train)
y_pred = knn_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy of KNN model is : " , accuracy)

Accuracy of KNN model is :  0.8547486033519553

In [136]:
# Naive-Bayes classifier

from sklearn.naive_bayes import GaussianNB

# Build a Gaussian Classifier
NB_model = GaussianNB()
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.80, test_size = 0.20, random_state = 5)
X_train = sc.fit(X_train).transform(X_train)
X_test = sc.fit(X_test).transform(X_test)
# Model training
NB_model.fit(X_train, y_train)
# Predict Output
y_pred = NB_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy of naive Bayes model is : " , accuracy)

Accuracy of naive Bayes model is :  0.8268156424581006

In [137]:
# Decision tree classifier

from sklearn.tree import DecisionTreeClassifier

# Building decision tree classifier.
DTC_model = DecisionTreeClassifier()
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.80, test_size = 0.20, random_state = 4)
# training the model
DTC_model.fit(X_train, y_train)
# predicting the model.
y_pred = DTC_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy of decision tree model is : " , accuracy)

Accuracy of decision tree model is :  0.8100558659217877